/* Font Families */
$font-family__header: "Georgia", Times, Times New Roman, serif;
$font-family__normal: "Arial", 'Helvetica Neue', Helvetica, sans-serif;

/* Font Sizes */
$font-size__h2: 32px;

/* Colors */
$color__teal: #4aaaa5;
$color-font__normal: #777777;